@{
  Layout = "_Layout";
}

@model SweetTreat.Models.Treat

@if (User.Identity.IsAuthenticated)
{
<h2>Add a flavor</h2>

<h4>Add a flavor to this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
}
}
else
{
  <h4>Items</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your items.</p>
}

<hr />

<p>@Html.ActionLink("Back to list", "Index")</p>